{% extends "base.html" %}
{% block title %}Sites{% endblock %}
{% block content %}
<div class="container py-5">
  <h1 class="mb-4">Sites</h1>
  <p>Estes são alguns dos sites que desenvolvi.</p>

  <ul class="list-group">
    <li class="list-group-item">
      <a href="https://raffa.pro.br/haras/" target="_blank">Haras</a>
    </li>
    <li class="list-group-item">
      <a href="https://raffa.pro.br/farmacia/" target="_blank">Farmácia</a>
    </li>
    <li class="list-group-item">
      <a href="https://raffa.pro.br/jardim/" target="_blank">Jardim</a>
    </li>
    <li class="list-group-item">
      <a href="https://raffa.pro.br/financeira/" target="_blank">Financeira</a>
    </li>
  </ul>
</div>
{% endblock %}
